@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima\ Nova\ Thin.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima\ Nova\ Bold.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima\ Nova\ Extrabold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima\ Nova\ Black.otf');
  font-weight: 700;
}

* {
  color: #404553;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}

.rtl {
  direction: rtl !important;
  text-align: right !important;
  font-family: 'Cairo', sans-serif !important;
}

.rtl-content {
  direction: rtl !important;
  text-align: right !important;
  font-family: 'Cairo', sans-serif !important;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
